* {
  margin: 0;
}

.container {
  height: 100vh;
  width: 3000px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.section {
  width: 200px;
  height: 100%;
  background: blue;
  opacity: .5;
  display: inline-block;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.section:hover {
  width: 370px;
}

.clear {
  clear: both;
}

.blue { background-color: #06F; }
.green { background-color: #0f9d00; }
.red { background-color: #F00; }
.yellow { background-color: #ffea00; }
